body{
    overflow-x:  hidden;
    font-family: "Montserrat", sans-serif;
}

.grid-container{
    /* display:grid;
    grid-template-rows: 5fr 10fr 1fr; */
    /* height:100vh; */
    /* display: grid;
    grid-template-rows: 4fr 8fr 0.5fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}


.grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap:1rem; */
    /* height:fit-content;
    margin-bottom: 10%; */
}

div.container-fluid.justify-content-md-center{
  margin-left:0;
  margin-right:0;

}
#menuja{
    background-color: rgba(255, 255, 255, 0.425);
    width:100%;
    display: flex;
    flex-direction: row;
    gap:3.5rem;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#menuja:hover{
    background-color:white !important;
}


.nav-logo{
    display:flex;
    justify-content: space-around;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap:3.5rem ;
    font-size:1rem;
    font-weight:600;

}

.navbar a:hover {
    color:black; 
    text-decoration: underline;
}



.dropdown:hover .dropdown-menu {
    /* display: block;
    margin-top: 0; remove the gap so it doesn't close */
}

.navbar-nav li{
    align-self: center;
}

.logo-href{
    padding-top: 0.03rem;
}
.main-logo{
    /* width:31%; */
    height:3.5rem;
    align-self: center;
}


.email{
  font-size:1rem;
  font-weight:600;
  color: #000000A6 !important;
  text-decoration: none;
}

.email:hover{
  color:black;
  text-decoration: underline;
  text-decoration-color: black;
}
#cartIcon {
  color: #000000A6; /* Change the color of the cart icon */
  text-decoration: none; /* Remove default underline */
  align-self: center;
  position: absolute; /* Position the badge */
  right: 4rem; /* Adjust right position */
  font-weight: 900;

}

#cartIcon svg{
  stroke-width: 3px;
  /* color */
}


.badge {
  color: #503C3C; /* White text color */
  font-size: 0.8rem; /* Adjust font size */
}

.dropdown-toggle::after {
  display: none;
}


#cartItemCount {
        display: none; /* Initially hide the cart count */
    }


.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
  /* background-color: #503C3C;
  color:white; */
  background-color: #FFC107; 
  color:black;
}

.tiny-image {
  /* width: 30px;
  height: 30px; */
  height:5vh;
  margin-right: 5%;
}
.remove-btn {
  /* background: none;
  border: none;
  cursor: pointer;
  color: red;
  margin-left: 5%; */
}
.item-group {
  margin-bottom: 5%;
}
.grid2{
    /* margin-top:10%;
    padding-top:5%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    margin-bottom:10%; */
}

.carousel-img{
    width:100%;
    
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:35%;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align:center;
    /* font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal; */
    font-family: "Alegreya SC", serif;
    font-weight: 400;
  }
  .overlay-h1{
    width:50%;
    align-items: center;
    font-size: 3rem;
  }

  .mainbutton{
    /* border-width:0.15rem; */
    /* border-color: #503C3C  ; */
    /* border-color: rgba(255, 255, 255, 0.692) !important  ; */
    background-color:rgba(255, 255, 255, 0.692) !important;
    color:#503C3C !important;
    font-weight:600;
    color:#000000A6;
    border-radius:25px;
    font-family: "Montserrat", sans-serif;
    margin-top: 2%;
    align-self: center;
    /* background-color: #B3A398; */
}


  .grid{
    display:grid;
    grid-template-rows: 4fr 0.2fr 0.2fr;
    gap:2rem;
}
.seksioni-2{
    padding-top: 2%;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seksioni-2-catalogue{
    /* padding-top: 10%; */
    margin-top: 8%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .seksioni-2-place-order{
    /* padding-top: 2%; */
    /* margin-top:5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seksioni-2-cart {
    margin-top:7%;
    display:grid;
    grid-template-rows: 4fr 0.2fr;
    gap:2rem;
  }

  .shop-cart h1{
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2.2rem;
    text-align: center;
  }
  .features-row {
    display:flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    margin-bottom:3%;
    /* padding-top:5%; */
    padding-bottom:5%;
  }
.feature-block{
    /* background-color:#f8f9fa; */
    /* color:#473C38; */
    text-align: center;
    /* padding:5%; */
}
.feature-h3{
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

.feature-block p {
    font-size:1rem;
}

.features-col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
    /* width:40%; */
    border-radius:10px;
}

.feature-img{
    width:20%;
}

.paragrafi-ballina{
    width:100%;
    padding:5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:15rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:0;
    padding-right:0;
    font-size: 1.1rem;
  }

  .counter{
    padding-top:5%;
    /* margin-top:5%; */
    font-family: "Montserrat", sans-serif;
  }
  .shifrat-title{
    font-size:2rem;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    /* color:#473C38; */
  }
.shifrat{
        /* background-color: #000000;
        color: #ffffff; */
        padding: 20px 0px;
}
  .counter-h3  {
    text-transform: uppercase;
    font-size: 1.3rem;
   }

  .counter
  {
      text-align: center;
      padding-bottom: 3%;
  }
  
  .shifrat{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 4rem;

  }
  .counter-count 
  {
      font-size: 5rem;
      font-weight: bold;
      position: relative;
      color: #000000;
      text-align: center;
      display: inline-block;
  }

  .shenja-plus{
    font-size:4rem;
  }


  #root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
  .browse-catg{
    padding-top:3%;
    padding-bottom:3%;
  }

  .browse-catg-catalogue{
    padding-top:10%;
    /* margin-top: 10%; */
    /* padding-bottom:10%; */
  }

  .album-ballina{
    /* border-radius: 2%;
    border: 4px solid #f8f9fa; */
    /* border-width: 10%;
    border-color: RED; */
    /* margin-top: 2%; */
  }
.album{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
    color:black;
    background-color: white;
}

.album-title-ballina{
    /* color:#473C38; */
    padding-bottom: 2%;
    padding-left:1.4%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    padding-top:3%;
    display:flex;
    /* width:100%; */
    justify-content: center;
}
.searchBar{
  margin-bottom:5%;
  width:100%;
}
#searchBar{
  width:100%;

}
.album-title-ballina-catalogue{
    /* color:#473C38;
    padding-bottom: 2%;
    padding-left:1.4%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    /* padding-top:10%;
    margin-top:10%; */
    /* display:flex;
    flex-direction: column; */
    /* width:100%; */
    /* justify-content: center;
    text-align: center; */ 
}

.album-see-more{
    color:#473C38;
    /* text-align:right !important; */
    padding-left:1.35%;
    font-weight: 700;
    display:flex;
    justify-content: center;
}


.btn-seemore:hover{
    /* color:#473C38; */
    color:white;
}
.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:2rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row-catalogue{
    padding-top: 5%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:2rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
}
.album-row:hover{
    text-decoration-color:black;
}
.ballina-col{
    /* width:100%; */
}

.card{
    justify-content: center;
    align-items: center;
    border:0;

}

  .album-img{
    /* width:30%; */
    height:40vh;

  }

  .card-body{
    text-align: center;
    color:black;
    /* color:#000000; */
    text-decoration: none;
  }

  a.card-text.pop{
    text-decoration: none !important;
  }
  .img-container {
    position: relative;
    overflow: hidden;
    padding-right:0;
    padding-left:0;
}
.imagepreview {
    width: 100%;
    height: 100%;
}
.magnifier {
    position: absolute;
    border: 2px solid black; /* Add border */
    border-radius: 50%; /* Round shape */
    width: 40%; /* Adjust the size of the magnifier */
    height: 40%; /* Adjust the size of the magnifier */
     /* Adjust according to the size of the image */
    display: none;
}

.right-column{
  padding-top:3%;
  padding-bottom:5%;
}
.cart-div{
  display: flex;
  gap:2rem;
  justify-content: flex-start;
}
#quantityInput{
  width:18% !important;
}

  .btn-seemore{
    border-width:0.15rem;
    border-color: #503C3C  ;
    font-weight:600;
    color:#000000A6;
    border-radius:25px;
    font-size:1rem;
    display:flex;
    justify-content: center;
    /* background-color: #B3A398; */
}
.btn-seemore:hover{
    background-color:#7E6363 ;
    outline: 0;
    border-color:#00000000;
}

.page-link{
    /* border:0; */
    font-size: 0.8rem;
    /* color:black; */
}

.pg-previous{
    border:0;
}

.pg-next{
    border:0;
}

.modal{
  background-color: rgba(255, 255, 255, 0.247);
}

.place-order-bd {
    background-image: url('img_girl.jpg');
  }
.place-order{
    /* padding-top:20%;
    margin-top:20%; */
    padding-bottom: 2%;
    padding-left:1.4%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    /* padding-top:10%; */
    /* margin-top:10%; */
    display:flex;
    width:100%;
    justify-content: center;
}
.prod-disclaimer{
  font-size:0.7rem;
  display: block;
  width: 100%;
  margin-top: 3%;
}
.grid3{
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
}
footer{
    margin-bottom:0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
}

.footer-img{
    margin-right:5%;
    height:10%;
    width:10%;
}
.support-li{
  margin-left: 5%;
}

.bottom-footer{
    position: absolute;
    /* bottom: 0; */
    margin-bottom: 0;
    padding-bottom: 0;
    justify-self: end;
    align-self: flex-end;
    /* bottom:5%; */
}

.socials{
  justify-content: end;
}



/*portrait phone screen*/
@media(min-width: 280px) and (max-width: 480px){
  #menuja{
    background-color:white;
    display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between;
  }

    .nav-logo {
      display: flex;
      width: 100%;
      justify-content: center;
      order: 1;

    }

    .navbar{
      position:fixed;
      top:0;
      overflow: hidden;
      width: 100%;
      font-weight: 500;
      background-color:#93977500;
      order: -1;
      z-index: 9;
      padding-top:4.5%;
  }
  .container-fluid{
    padding-left:0;

  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        gap:0.2rem;
        width:70%;
        height:100vh;
        background-color: rgba(255, 255, 255, 0.571);
        font-size: 0.8rem;
        font-weight: 600;
    }

  /* .d-md-block {
    display: block!important;
    } */


    .overlay { 
        top:28%;
        display:flex;
        justify-content: center;
        width:100%;
        text-align:center;
        /* font-family: "Playfair Display SC", serif;
        font-weight: 700;
        font-style: normal; */
        font-family: "Alegreya SC", serif;
        font-weight: 400;
      }
      .overlay-h1{
        width:60%;
        align-items: center;
        font-size: 1.7rem;
      }
    .carousel-img{
        height:100vh;
        width:230%;
        margin-left: -50%;
            
}
.carousel-inner{
    height:100%;
}

.features-row {
    gap:1rem;
    margin-bottom:3%;
    width:100%;
    align-items: center;
    padding-bottom:5%;
    font-family: "Montserrat", sans-serif;

  }
  .features-col{
    align-items: center;
    padding:0;
    width:fit-content;
    /* border:solid 10px;
    border-color: #F8f9fa;
    border-radius:10px; */

}
.feature-block{
    /* background-color:#f8f9fa; */
    /* color:#473C38; */
    /* text-align: center; */
    /* padding:5%; */
    /* width:90%; */
}

.paragrafi-ballina{
    width:100%;
    padding:3.5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:9rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:2%;
    padding-right:2%;
    font-size: 0.9rem;
  }

  .counter{
    padding-bottom:7%;
    font-family: "Montserrat", sans-serif;    
  }

  .counter-count{
    margin-bottom:0;
    font-size: 4rem;
  }
 
.shifrat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

  .counter-h3  {
    font-size: 1rem;
   }

  

   .album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 0.5rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.ballina-col{
    width:40%;
}

  .album-img{
    /* width:30%; */
    height:20vh;

  }

  .album-title-ballina{
    padding-top: 10%;
    font-size:1.5rem;
    text-align: center;
}

footer{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width:100%;
}

.footer-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}


}