body{
    overflow-x:  hidden;
    font-family: "Montserrat", sans-serif;
}

.clicked {
  border: 2px solid black;
}


.grid-container{
    /* display:grid;
    grid-template-rows: 5fr 10fr 1fr; */
    /* height:100vh; */
    /* display: grid;
    grid-template-rows: 4fr 8fr 0.5fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}



/* CSS rule for button with black border */
.button-with-border {
  border: 1.5px solid black;
}

.grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap:1rem; */
    /* height:fit-content;
    margin-bottom: 10%; */
}

div.container-fluid.justify-content-md-center{
  margin-left:0;
  margin-right:0;

}
#menuja{
    background-color: rgba(255, 255, 255, 0.425) ;
    width:100%;
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#menuja:hover{
    background-color:white !important ;
}


.nav-logo{
    display:flex;
    justify-content: space-around;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap:3.5rem ;
    font-size:0.93rem;
    font-weight:700;

}

.navbar a:hover {
    color:black; 
    text-decoration: underline;
}


.navbar-nav li{
    align-self: center;
}

.logo-href{
    padding-top: 0.03rem;
}
.main-logo{
    /* width:31%; */
    height:3.5rem;
    align-self: center;
}


.email{
  font-size:1rem;
  font-weight:550;
  color: #000000A6 !important;
  text-decoration: none;
}

.email a:hover{
  color:black !important;
  /* text-decoration: underline; */
  /* text-decoration-color: black; */
}
#cartIcon {
  color: #000000A6; /* Change the color of the cart icon */
  text-decoration: none; /* Remove default underline */
  align-self: center;
  position: absolute; /* Position the badge */
  right: 4rem; /* Adjust right position */
  font-weight: 900;

}

#cartIcon svg{
  stroke-width: 3px;
  /* color */
}


.badge {
  color: #503C3C; /* White text color */
  font-size: 0.8rem; /* Adjust font size */

}

.dropdown-toggle::after {
  display: none;
}





 .dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
  /* background-color: #503C3C;
  color:white; */
  background-color: #FFC107 !important;
  color:black;
}

.tiny-image {
  /* width: 30px;
  height: 30px; */
  height:5vh;
  margin-right: 5%;
}


.item-container {
  /* display: flex;
  flex-wrap:wrap; */
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* gap:1rem; */
  align-items: center;
  margin-bottom: 3%;
  padding-right:3%;
  padding-left:3%;


}


.item-details {
  flex: 1;
  margin-left: 2%;
}
.item-title {
  font-weight: bold;
  font-size:0.7rem;
  justify-self: center;

}
.item-quantity {
  color: #666;
  justify-self: center;

}
.delete-icon {
  cursor: pointer;
  width: 1.45rem;
  justify-self: center;
  padding:2%;
}
.cart-img{
height:5vh;
justify-self: center;
}


.empty-cart{
  font-size:0.8rem;
  font-weight: bold;
  text-align: center;
}

.disabled {
  opacity: 0.5; /* Reduce opacity */
  display:none !important;
}
.item-group {
  margin-bottom: 5%;
}



.carousel-img{
    width:100%;
    
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:45%;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align:center;
    /* font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal; */
    font-family: "Alegreya SC", serif;
    font-weight: 400;
  }
  .overlay-h1{
    width:50%;
    align-items: center;
    font-size: 2.6rem;
  }

  .mainbutton{
    /* border-width:0.15rem; */
    /* border-color: #503C3C  ; */
    /* border-color: rgba(255, 255, 255, 0.692) !important  ; */
    background-color:rgba(255, 255, 255, 0.692) !important;
    color:#503C3C ;
    font-weight:550;
    font-family: "Montserrat", sans-serif;
    margin-top: 2%;
    align-self: center;
    /* background-color: #B3A398; */
    font-size:1.2rem;
    padding:0.5rem 1rem !important;
    /* border:0.5px solid black; */
}
.mainbutton:hover{
  background-color: white !important;
  color:#503C3C ;
}

  .grid{
    display:grid;
    grid-template-rows: 4fr 0.2fr 0.2fr;
    gap:2rem;
}
.seksioni-2{
    padding-top: 2%;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seksioni-2-catalogue{
    /* padding-top: 10%; */
    margin-top: 8%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .seksioni-2-place-order{
    /* padding-top: 2%; */
    /* margin-top:5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seksioni-2-cart {
    margin-top:5%;
    display:grid;
    grid-template-rows: 4fr 0.2fr;
    width:100%;
    min-width:100% !important;
    gap:2rem;
  }

  .shop-cart h1{
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2.2rem;
    text-align: center;
  }
  .features-row {
    display:flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    margin-bottom:3%;
    /* padding-top:5%; */
    padding-bottom:5%;
  }
.feature-block{
    /* background-color:#f8f9fa; */
    /* color:#473C38; */
    text-align: center;
    /* padding:5%; */
}
.feature-h3{
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

.feature-block p {
    font-size:1rem;
}

.features-col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
    /* width:40%; */
    border-radius:10px;
}

.feature-img{
    width:20%;
}

.paragrafi-ballina{
    width:100%;
    padding:5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:15rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:0;
    padding-right:0;
    font-size: 1.1rem;
  }

  .counter{
    padding-top:5%;
    /* margin-top:5%; */
    font-family: "Montserrat", sans-serif;
  }
  .shifrat-title{
    font-size:2rem;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    /* color:#473C38; */
  }
.shifrat{
        /* background-color: #000000;
        color: #ffffff; */
        padding: 20px 0px;
}
  .counter-h3  {
    text-transform: uppercase;
    font-size: 1.3rem;
   }

  .counter
  {
      text-align: center;
      padding-bottom: 3%;
  }
  
  .shifrat{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 4rem;

  }
  .counter-count 
  {
      font-size: 5rem;
      font-weight: bold;
      position: relative;
      color: #000000;
      text-align: center;
      display: inline-block;
  }

  .shenja-plus{
    font-size:4rem;
  }


  #root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}
  .browse-catg{
    padding-top:3%;
    padding-bottom:3%;
  }

  .browse-catg-catalogue{
    padding-top:10%;
    /* margin-top: 10%; */
    /* padding-bottom:10%; */
  }
.ballina-col{
  display:flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}
.album{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
    color:black;
    background-color: white;
}

.album-title-ballina{
    /* color:#473C38; */
    padding-bottom: 2%;
    padding-left:1.4%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    padding-top:3%;
    display:flex;
    /* width:100%; */
    justify-content: center;
}
.searchBar{
  margin-bottom:5%;
  width:100%;
}
#searchBar{
  width:100%;

}

.btn{
  border-radius:25px;
}
.pagination{
  margin-top: 2rem;
  justify-content: center;
}

.album-see-more{
    color:#473C38;
    /* text-align:right !important; */
    /* padding-left:1.35%; */
    font-weight: 700;
    display:flex;
    justify-content: center;
}
.btn-seemore{
  border:0;
  outline: 0;
  font-weight:600;
  /* color:#000000A6; */
  color:#503c3ce2 ;
  border-radius:25px;
  font-size:1rem;
  display:flex;
  justify-content: center;
  text-align: center;
  background-color: #FFC107;
}

.btn-seemore:hover{
    /* color:#473C38; */
    background-color: #FFC107 !important;
    color:black;

}
.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:2rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row-catalogue{
    padding-top: 5%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:2rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
}
.album-row:hover{
    text-decoration-color:black;
}


.card{
    justify-content: center;
    align-items: center;
    border:0;

}

  .album-img{
    /* width:30%; */
    height:35vh;
    align-self: center;

  }

  .card-body{
    text-align: center;
    color:black;
    /* color:#000000; */
    text-decoration: none;
    align-self: center;
  }

  a.card-text.pop{
    text-decoration: none !important;
  }
  .img-container {
    position: relative;
    overflow: hidden;
    padding-right:0;
    padding-left:0;

}
.imagepreview {
    width: 100%;
    height: 100%;
}
.magnifier {
    position: absolute;
    border: 2px solid black; /* Add border */
    border-radius: 50%; /* Round shape */
    width: 40%; /* Adjust the size of the magnifier */
    height: 40%; /* Adjust the size of the magnifier */
     /* Adjust according to the size of the image */
    display: none;
}

.right-column{
  display:flex;
  flex-direction: column;
  padding-top:3%;
  padding-bottom:5%;
}
.cart-div{
  display: flex;
  gap:2rem;
  justify-content: flex-start;
}
#quantityInput{
  width:18% !important;
}




.page-link{
    /* border:0; */
    font-size: 0.8rem;
    /* color:black; */
}

.pg-previous{
    border:0;
}

.pg-next{
    border:0;
}

.modal{
  background-color: rgba(255, 255, 255, 0.247);
}

.imagepreview{
  width:100%;
}

.place-order-bd {
    background-image: url('img_girl.jpg');
  }
.place-order{
    /* padding-top:20%;
    margin-top:20%; */
    padding-bottom: 2%;
    padding-left:1.4%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    /* padding-top:10%; */
    /* margin-top:10%; */
    display:flex;
    width:100%;
    justify-content: center;
}
.prod-disclaimer{
  font-size:0.7rem;
  display: block;
  width: 100%;
  margin-top: 3%;
}
.grid3{
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
}
footer{
    margin-bottom:0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}

.footer-img{
    margin-right:5%;
    height:5%;
    width:5%;
}
.support-li{
  margin-left: 5%;
}

.bottom-footer{
    position: absolute;
    /* bottom: 0; */
    margin-bottom: 0;
    padding-bottom: 0;
    justify-self: end;
    align-self: flex-end;
    /* bottom:5%; */
}

.socials{
  justify-content: end;
  /* gap:1rem; */
}

.support-li{
  text-align: center;
}

.footer-div span{
  font-size:0.8rem;
}

.footer-div li{
  font-size:0.8rem;
}

#prod-description{
  font-size:0.89rem;
}

.socials{
  margin:0;
}

.mb-3 {
  margin-bottom: 0 !important;
}


/*portrait phone screen*/
@media screen and (max-width: 480px){

  #menuja{
    background-color:white;
    /* display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between; */
    /* width:100%; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
  }

    .nav-logo {
      /* display: flex;
      width: 100%;
      justify-content: center;
      order: 1; */
      grid-column: 2/3;
    }

    .navbar{
      position:absolute;
      top:0.5rem;
      overflow: hidden;
      /* width: 100%; */
      font-weight: 500;
      background-color:#93977500;
      /* order: -1;
      z-index: 9; */
      grid-column: 1/2;


  }

  #cartIcon{
    grid-column: 3/4;
    right:1.5rem;

  }
  .container-fluid{
    padding-left:0;

  }



  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        gap:0.2rem;
        width:100%;
        padding-top: 1rem;
        height:100vh;
        background-color: rgb(255, 255, 255);
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }



.email{
  display:none;
}
    .overlay { 
        top:50%;
        display:flex;
        justify-content: center;
        width:100%;
        text-align:center;
        /* font-family: "Playfair Display SC", serif;
        font-weight: 700;
        font-style: normal; */
        font-weight: 400;
      }
      .overlay-h1{
        width:90%;
        align-items: center;
        font-size: 1.7rem;
      }
    .carousel-img{
        height:100vh;
        width:230%;
            
}
.carousel-inner{
    height:100%;
}

.features-row {
    gap:1rem;
    margin-bottom:3%;
    width:100%;
    align-items: center;
    padding-bottom:5%;
    font-family: "Montserrat", sans-serif;

  }
  .features-col{
    align-items: center;
    padding:0;
    width:fit-content;
    /* border:solid 10px;
    border-color: #F8f9fa;
    border-radius:10px; */

}


.paragrafi-ballina{
    width:100%;
    padding:3.5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:8.5rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:2%;
    padding-right:2%;
    font-size: 1rem;
  }

  .counter{
    padding-bottom:7%;
    font-family: "Montserrat", sans-serif;    
  }

  .counter-count{
    margin-bottom:0;
    font-size: 4rem;
  }
 
.shifrat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

  .counter-h3  {
    font-size: 1rem;
   }

  

   .album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 0.5rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

#root {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

  .album-img{
    /* width:30%; */
    height:18vh;
    justify-self: center;

  }

  .img-ttl{
    justify-self: center;
    text-align: center;
  }
  a.catg-item.card-text.pop {
    display: flex;
    flex-direction: column;
    /* display:grid;
    grid-template-rows:2fr 0.5fr; */
    justify-content: center;
    align-items: center;
}
  .seksioni-2-catalogue{
    padding-top: 10%;
  }
  .album-title-ballina{
    padding-top: 10% ;
    font-size:1.5rem;
    text-align: center;
}
.pagination{
  justify-content: center;
}

.right-column {
  padding-bottom:0;
}
footer{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width:100%;
}

.footer-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}


}


/*horizontal(landscape) phone screen and ipad*/
@media screen and (min-width: 481px) and (max-width: 650px){

  #menuja{
    background-color:white;
    /* display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between; */
    /* width:100%; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
  }

    .nav-logo {
      /* display: flex;
      width: 100%;
      justify-content: center;
      order: 1; */
      grid-column: 2/3;
    }

    .navbar{
      position:absolute;
      top:0.5rem;
      overflow: hidden;
      /* width: 100%; */
      font-weight: 500;
      background-color:#93977500;
      /* order: -1;
      z-index: 9; */
      /* padding-top:4.5%; */
      grid-column: 1/2;


  }

  #cartIcon{
    grid-column: 3/4;
    right:1.5rem;

  }
  .container-fluid{
    padding-left:0;

  }



  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        gap:0.2rem;
        width:100%;
        padding-top: 1rem;
        height:100vh;
        background-color: rgb(255, 255, 255);
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

.email{
  display:none;
}
    .overlay { 
        top:50%;
        display:flex;
        justify-content: center;
        width:100%;
        text-align:center;
        /* font-family: "Playfair Display SC", serif;
        font-weight: 700;
        font-style: normal; */
        font-weight: 400;
      }
      .overlay-h1{
        width:80%;
        align-items: center;
        font-size: 1.7rem;
      }
    .carousel-img{
        height:100vh;
        width:200%;
            
}
.carousel-inner{
    height:100%;
}

.features-row {
    gap:1rem;
    margin-bottom:3%;
    width:100%;
    align-items: center;
    padding-bottom:5%;
    font-family: "Montserrat", sans-serif;

  }
  .features-col{
    align-items: center;
    padding:0;
    width:fit-content;
    /* border:solid 10px;
    border-color: #F8f9fa;
    border-radius:10px; */

}


.paragrafi-ballina{
    width:100%;
    padding:3.5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:9rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:2%;
    padding-right:2%;
    font-size: 1rem;
  }

  .counter{
    padding-bottom:7%;
    font-family: "Montserrat", sans-serif;    
  }

  .counter-count{
    margin-bottom:0;
    font-size: 4rem;
  }
 
.shifrat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

  .counter-h3  {
    font-size: 1rem;
   }

  

   .album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 0.5rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

#root {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

  .album-img{
    /* width:30%; */
    height:24vh;
    justify-self: center;

  }

  .img-ttl{
    justify-self: center;
    text-align: center;
  }
  a.catg-item.card-text.pop {
    display: flex;
    flex-direction: column;
    /* display:grid;
    grid-template-rows:2fr 0.5fr; */
    justify-content: center;
    align-items: center;
}

  .seksioni-2-catalogue{
    padding-top: 5%;
  }

  .album-title-ballina{
    padding-top: 10%;
    font-size:1.5rem;
    text-align: center;
}
.pagination{
  justify-content: center;
}
.right-column {
  padding-bottom:0;
}
footer{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width:100%;
}

.footer-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}

}

/*horizontal(landscape) phone screen and ipad*/
@media screen and (min-width: 651px) and (max-width: 767px){

  #menuja{
    background-color:white;
    /* display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between; */
    /* width:100%; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
  }

    .nav-logo {
      /* display: flex;
      width: 100%;
      justify-content: center;
      order: 1; */
      grid-column: 2/3;
    }

    .navbar{
      position:absolute;
      top:0.5rem;
      overflow: hidden;
      /* width: 100%; */
      font-weight: 500;
      background-color:#93977500;
      /* order: -1;
      z-index: 9; */
      /* padding-top:4.5%; */
      grid-column: 1/2;


  }

  #cartIcon{
    grid-column: 3/4;
    right:1.5rem;

  }
  .container-fluid{
    padding-left:0;

  }


  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        gap:0.2rem;
        width:100%;
        padding-top: 1rem;
        height:100vh;
        background-color: rgb(255, 255, 255);
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }



.email{
  display:none;
}
    .overlay { 
        top:55%;
        display:flex;
        justify-content: center;
        width:100%;
        text-align:center;
        /* font-family: "Playfair Display SC", serif;
        font-weight: 700;
        font-style: normal; */
        font-weight: 400;
      }
      .overlay-h1{
        width:60%;
        align-items: center;
        font-size: 1.9rem;
      }
    .carousel-img{
        height:100vh;
        width:150%;
            
}
.carousel-inner{
    height:100%;
}

.features-row {
    gap:1rem;
    margin-bottom:3%;
    width:100%;
    align-items: center;
    padding-bottom:5%;
    font-family: "Montserrat", sans-serif;

  }
  .features-col{
    align-items: center;
    padding:0;
    width:fit-content;
    /* border:solid 10px;
    border-color: #F8f9fa;
    border-radius:10px; */

}



.paragrafi-ballina{
    width:100%;
    padding:3.5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:9rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:2%;
    padding-right:2%;
    font-size: 1rem;
  }

  .counter{
    padding-bottom:7%;
    font-family: "Montserrat", sans-serif;    
  }

  .counter-count{
    margin-bottom:0;
    font-size: 4rem;
  }
 
.shifrat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

  .counter-h3  {
    font-size: 1rem;
   }

  

   .album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 0.5rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

#root {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

  .album-img{
    /* width:30%; */
    height:24vh;
    justify-self: center;

  }

  .img-ttl{
    justify-self: center;
    text-align: center;
  }
  a.catg-item.card-text.pop {
    display: flex;
    flex-direction: column;
    /* display:grid;
    grid-template-rows:2fr 0.5fr; */
    justify-content: center;
    align-items: center;
}

  .album-title-ballina{
    padding-top: 10%;
    font-size:1.5rem;
    text-align: center;
}

.pagination{
  justify-content: center;
}
.right-column {
  padding-bottom:0;
}
footer{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width:100%;
}

.footer-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}

}


/* large ipad  screen*/
@media screen and (min-width: 768px) and (max-width: 990px) {

  #menuja{
    background-color:white;
    /* display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between; */
    /* width:100%; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;  }

    .nav-logo {
      /* display: flex;
      width: 100%;
      justify-content: center;
      order: 1; */
      grid-column: 2/3;
    }

    .navbar{
      position:absolute;
      top:0.5rem;
      overflow: hidden;
      /* width: 100%; */
      font-weight: 500;
      background-color:#93977500;
      /* order: -1;
      z-index: 9; */
      /* padding-top:4.5%; */
      grid-column: 1/2;


  }

  #cartIcon{
    grid-column: 3/4;
    right:1.5rem;

  }
  .container-fluid{
    padding-left:0;

  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        gap:0.2rem;
        width:100%;
        padding-top: 1rem;
        height:100vh;
        background-color: rgb(255, 255, 255);
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }


.email{
  display:none;
}
    .overlay { 
        top:56%;
        display:flex;
        justify-content: center;
        width:100%;
        text-align:center;
        /* font-family: "Playfair Display SC", serif;
        font-weight: 700;
        font-style: normal; */
        font-weight: 400;
      }
      .overlay-h1{
        width:60%;
        align-items: center;
        font-size: 1.7rem;
      }
    .carousel-img{
        height:100vh;
        width:100%;
            
}
.carousel-inner{
    height:100%;
}



.paragrafi-ballina{
    width:100%;
    padding:3.5%;
    font-family: "Montserrat", sans-serif;
}
  .fotoja-ne-main-page{
    height:9rem;
    background-size:cover;
    /* padding-top:5%; */
    /* align-self: flex-end;
    justify-self: flex-start; */
    /* display:flex;
    justify-content: center; */
    /* margin-left:50%;
    margin-right:50%; */
    /* align-self: center; */
  }

  p.seksioni2-p{
    text-align: center;
    padding-top:4.5%;
    /* margin-left:5%;
    margin-right:5%; */
    padding-left:2%;
    padding-right:2%;
    font-size: 1rem;
  }

  .counter{
    padding-bottom:7%;
    font-family: "Montserrat", sans-serif;    
  }

  .counter-count{
    margin-bottom:0;
    font-size: 4rem;
  }
 
.shifrat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

  .counter-h3  {
    font-size: 1rem;
   }

  

   .album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 1rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

.album-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:1rem;
    column-gap: 0.5rem;
    justify-content:space-around;
    padding-bottom: 1%;
 
}

#root {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}

  .album-img{
    /* width:30%; */
    height:28vh;
    justify-self: center;

  }

  .img-ttl{
    justify-self: center;
    text-align: center;
  }
  a.catg-item.card-text.pop {
    display: flex;
    flex-direction: column;
    /* display:grid;
    grid-template-rows:2fr 0.5fr; */
    justify-content: center;
    align-items: center;
}

  .album-title-ballina{
    padding-top: 10%;
    font-size:1.5rem;
    text-align: center;
}
.pagination{
  justify-content: center;
}
.right-column {
  padding-bottom:0;
}
footer{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width:100%;
}

.footer-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}

}


/* large ipad  screen*/
@media screen and (min-width: 991px) and (max-width: 1030px)  {

  #menuja{
    background-color:white;
    /* display: flex;
    flex-direction: row-reverse;
    width:100%;
    justify-content: space-between; */
    /* width:100%; */
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap:1rem;  }

    .nav-logo {
      /* display: flex;
      width: 100%;
      justify-content: center;
      order: 1; */
      grid-column: 1/2;
    }

    .navbar{
      position:absolute;
      top:1rem;
      overflow: hidden;
      /* width: 100%; */
      font-weight: 500;
      background-color:#93977500;
      /* order: -1;
      z-index: 9; */
      /* padding-top:4.5%; */
      grid-column: 2/3;
      justify-self: center;


  }

  #cartIcon{
    grid-column: 3/4;
    right:1.5rem;
    justify-self: center;
  }
  .container-fluid{
    padding-left:0;

  }



  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        align-items:center;
        gap:2.7rem;
        width:100% !important;
        font-size: 0.95rem;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height:fit-content;
    }


.navbar-expand-lg .navbar-nav{
  padding-top:0;
}

.email{
  display:none;
}
.overlay{
  top:56%;

}
.overlay-h1{
  font-size: 2rem;
}
#root {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

  .album-img{
    /* width:30%; */
    height:28vh;
    justify-self: center;

  }

  .img-ttl{
    justify-self: center;
    text-align: center;
  }
  a.catg-item.card-text.pop {
    display: flex;
    flex-direction: column;
    /* display:grid;
    grid-template-rows:2fr 0.5fr; */
    justify-content: center;
    align-items: center;
}

  .pagination{
    justify-content: center;
  }
  .grid3{
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
  }

   .footer{
    margin-bottom:0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
}

.footer-img{
    margin-right:5%;
    height:10%;
    width:10%;
}
.support-li{
  margin-left: 5%;
}

.socials{
  margin:0;
}
}

@media screen and (max-width: 576px){

.browse-catg{
  padding-bottom:5%;
  margin-bottom:5%;
}

}

@media screen and (max-width: 767px){
.delete-icon {
  width: 1.65rem;
  justify-self: center;
}


}

@media only screen and (max-width: 767px){
#magnifier{
  display:none !important;
}
  
  
  }